[Unit]
Description=HOMEINFO Events Service
PartOf=wsgi-services.target

[Service]
User=hievents
Group=hievents
ExecStart=/usr/local/bin/hieventsd

[Install]
WantedBy=wsgi-services.target
